
/* Link */

.generallink {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #fff;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.generallink:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}