/* Landing */
#landing{
  margin-top: 5vh;
}

@media only screen and (min-width: 760px) {

  #landing{
    margin-top: 15vh;
  }
}



.landing-text{
  padding-left: 2vw;
}


/* Link */
.generallink {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid black;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.generallink:hover {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.white-text .generallink{
  color: white;
  border-bottom: 3px solid white;
}

.white-text .generallink:hover {
  color: white;
  border-bottom: 3px solid #0099ff;
}

/* General */
.blue_background{
  background-color: #0099ff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.white-text{
  color: white;
}

html{
  scroll-behavior: smooth;
  font-size: 80%;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(73, 182, 255); 
}


/* Projects */
#project_tab img{
  
  margin-top: 3vh;
}

.project-links{
  margin-bottom: 6vh;
}

@media only screen and (min-width: 1024px) {

  .exp_title{
    margin-top: 5vh;
  }
}

/* Specific Stuff */
#blue_wave{
  margin-bottom: -2vh;
}

#blue_wave_bottom{
  margin-top: -22px;
}

#contact_tab{
  margin-bottom: 10vh;
}

#contact_tab div{
  margin-bottom: 4vh;
}

#resume_tab{
  margin-bottom: 3vh;
}

#resume_tab div{
  margin-bottom: 4vh;
}

@media only screen and (min-width: 1440px) {

  #resume_tab{
    text-align: right;
  }  

  #resume_tab div{
    margin-top: 18vh;
    padding-right: 6vw;
  }

  #contact_tab{
    text-align: right;
  }  

  #contact_tab div{
    margin-top: 18vh;
    padding-right: 6vw;
  }
}

#about_tab img{
  margin-bottom: -3vh;
}

#bottom_link{
  margin-bottom: 10vh;
}

/*Floating Back-To-Top Button*/
#myBtn {
  color: black;
  position: fixed;
  bottom: 10px;
  float: right;
  right: 5.5%;
  max-width: 40px;
  width: 100%;
  font-size: 24px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: white;
  padding: .5px;
  border-radius: 25px;

}
/*On Hover Color Change*/
#myBtn:hover {
  background-color: black;
  color: white
}